{% ckan_extends %}

{% block primary_content %}
  {% snippet 'home/snippets/search.html'  %}
  <p class="joined-orgs-msg"><b><a href="/organization">{{ h.get_site_statistics()["organization_count"] }}</a></b> organizations or groups<br />currently sharing data</p>
<div class="roles">
    <p>Predefined Categories</p>
    <div class="roles-container">
      <div class="frame-round">
       <a href="/group/agriculture">
        <img src="images/ag.jpg" />
       </a>
          <p>Agriculture</p>
      </div>
      <div class="frame-round">
       <a href="/group/environment">
        <img src="images/weather.jpeg" />
       </a>
          <p>Environment</p>
      </div>
    </div>
      <div class="frame-round">
        <a href="/group/imagery">
        <img src="images/imagery.jpg" />
       </a>
          <p>Imagery</p>
      </div>
      <div class="frame-round ">
         <a href="/group/geopolitical">
        <img src="images/geopolitical.jpeg" />
       </a>
          <p>GeoPolitical</p>
      </div>
      <div class="frame-round ">
        <a href="/group/microservices">
        <img src="images/microServices.png" />
       </a>
          <p>Micro Services</p>
      </div>
      <div class="frame-round ">
         <a href="/group/syngenta">
        <img src="images/syngenta.jpeg" />
       </a>
          <p>Syngenta</p>
      </div>
    <div class="roles-container">
      <div class="frame-round ">
       <a href="/group/Grower">
        <img src="images/grower.jpeg" />
       </a>
          <p>Grower</p>
      </div>
      <div class="frame-round">
 <a href="/group/other">
        <img src="images/other.png" />
       </a>
          <p>Other</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

{% endblock %}
