{% ckan_extends %}

{% block primary_content %}
  {% snippet 'home/snippets/search.html'  %}
  <p class="joined-orgs-msg"><b><a href="/organization">{{ h.get_site_statistics()["organization_count"] }}</a></b> organizations or groups<br />currently sharing data</p>
<div class="roles">
    <p>Predefined Categories</p>
    <div class="roles-container">
      <div class="row">
        <div class="span2 text-center">
          <div class="group-link">
           <a href="/group/target-market">
            <img src="images/bulb.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Target Market</p>
        </div>
        <div class="span2">
          <div class="group-link">
           <a href="/group/product-field-performance">
            <img src="images/bar.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Product & Field</p>
        </div>
        <div class="span2">
          <div class="group-link">
            <a href="/group/s_agriculture">
            <img src="images/leaf.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Agriculture</p>
        </div>
        <div class="span2">
          <div class="group-link">
             <a href="/group/s_environment">
            <img src="images/cloud.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Environment</p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <div class="group-link">
            <a href="/group/environmental-characterization">
            <img src="images/flag.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Characterization</p>
        </div>
        <div class="span2">
          <div class="group-link">
            <a href="/group/land-cover">
            <img src="images/tree.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Land Cover</p>
        </div>
        <div class="span2">
          <div class="group-link">
            <a href="/group/s_administrative">
            <img src="images/world.png" />
           </a>
          </div>
          <p style="font-size: 15px;">Administrative</p>
        </div>
      </div>
    <div class="roles-container">
    </div>
    <div class="clearfix"></div>
  </div>
  {% snippet "home/snippets/subscription.html" %}
  <div class="collaborators">
      <div class="partner-logos">
          {% snippet 'home/snippets/home_partner_logos.html' %}
      </div>
  </div>
{% endblock %}
