{% ckan_extends %}
{% block footer_content %}
  <div class="footer-links">
    <div class="logo">
      <a href="https://www.syngenta.com/" target="_blank" rel="noopener">
        <img src="/images/logos/syngenta_logo.png" />
      </a>
      <h5>2018 - {{h.current_year()}} Syngenta</h5>
    </div>
    <div class="all-links">
      <ul class="unstyled">
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
              <li><a href="/about/terms-and-conditions">How to Use</a></li>
              <li><a href="/about/faq">Support</a></li>
              <li><a href="/about/privacy">DDA GIS Roadmap</a></li>
        {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
        <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
      </ul>

      <ul class="unstyled">
        <li>{% snippet "snippets/language_selector.html" %}</li>
        <li><a href="http://ckan.org">Powered by CKAN</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
